@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
body {
    background-color: rgba(219,219,219,1.00);
}#main #baogaoshili {
    color: rgba(0,147,255,1.00);
    padding-top: 20px;
    text-align: right;
    padding-right: 30px;
}
#main #huoqufengxianzhishu {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    background-image: url(../img/circle.png);
    background-size: 200px auto;
    margin-left: auto;
    margin-right: auto;
}
#main #huoqufengxianzhishu #text {
    text-align: center;
    color: #1FA8F3;
    width: 200px;
    height: auto;
    padding-top: 66px;
}
#huoqufengxianzhishu #text #huoqu {
    font-size: 150%;
    font-weight: bolder;
}
#huoqufengxianzhishu #text #fengxiangzhishu {
    padding-top: 6px;
}
#main #dashujufengxianpinggu {
    text-align: center;
    padding-top: 15px;
    text-shadow: 0px 0px;
    font-size: 90%;
}
#main #button {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 9px;
    width: 100%;
    height: 100%;
    line-height: 39px;
}
#main #button #putongban {
    width: 60%;
    border: 1px solid #1FA8F3;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #1FA8F3;
    font-size: 120%;
    border-radius: 30px;
    background-color: #FFFFFF;
}
#zhuanyeban   {
    width: 60%;
    border: 1px solid #1FA8F3;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #FFFFFF;
    font-size: 120%;
    border-radius: 30px;
    background-color: #1FA8F3;
    margin-top: 15px;
}

#main {
    background-color: rgba(255,255,255,1.00);
    display: block;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border-width: 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
#help {
    margin-top: 51px;
    text-align: center;
    padding-bottom: 100px;
}
.footer {
    border-top: 1px solid #BDBDBD;
    width: 100%;
    line-height: 33px;
	background: #FFF;
    padding: 10px 0 6px 0;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer #left {
    width: 50%;
    text-align: center;
    color: #1FA8F3;
    float: left;
    font-size: 120%;
}
.footer #right {
    float: right;
    width: 50%;
    color: #1FA8F3;
    text-align: center;
    font-size: 120%;
}



#help #tongji {
    font-size: 90%;
}
#help #tongji text {
    font-size: 57%;
    color: #1FA8F3;
}
#helpimg img  {
    width: 81%;
    margin-top: 6px;
}

